<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>文章 - 小鱼博客管理系统</title>
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
<link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="__IMG__/icon/icon.png">
<link rel="shortcut icon" href="__IMG__/icon/favicon.ico">
<script src="__JS__/jquery-2.1.4.min.js"></script>
</head>
<body class="user-select">
<section class="container-fluid">
  <include file="Public:header" />
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <form action="/Article/checkAll" method="post" >
        <h1 class="page-header">操作</h1>
        <ol class="breadcrumb">
           <li><a href="/Admin/Cat/index">新增文章</a></li>
        </ol>
        <h1 class="page-header">文章列表 <span class="badge">{$num}</span></h1>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">ID</span></th>
                <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">图片</span></th>
                <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">描述</span></th>
                <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
              </tr>
            </thead>
            <tbody>
              <volist name="list" id="vo">
                  <tr>
                    <td>{$vo.p_id}</td>
                    <td class="article-title">
                       <volist name="vo['p_img']" id="v">
                           <img src="{$v}" width="80" height="80">
                       </volist>
                    </td>            
                    <td class="hidden-sm">{$vo.p_desc}</td>
                    <td>{$vo.p_time|getTime}</td>
                    <td>
                       <a href="{:U('/Admin/Picture/edit',array('id'=>$vo['p_id']))}">修改</a> 
                       <a class="deletes">删除</a>
                       <input type="hidden" value="{$vo.a_id}">
                    </td>
                  </tr>
              </volist>
            </tbody>
          </table>
        </div>
        <footer class="message_footer">
          <nav>
            <ul class="pagination pagenav">
              <li class="disabled"><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
            </ul>
          </nav>
        </footer>
      </form>
    </div>
  </div>
</section>
<include file="Public:info" />
<script src="__JS__/bootstrap.min.js"></script> 
<script src="__JS__/admin-scripts.js"></script> 
<script src="__JS__/jquery.gritter.min.js"></script>
<script src="__JS__/my.js"></script>
<script>
//是否确认删除
$(function(){   
	$(".deletes").click(function(){
		var name = $(this);
		var id = $(this).parent().find('input').val();
		if (event.srcElement.outerText == "删除") 
		{
			if(window.confirm("此操作不可逆，是否确认？"))
			{
				$.ajax({
					type: "POST",
					url: "/Admin/Article/delete",
					data: {'id':id},
					cache: false, 
					success: function (data) {
						if(data.error == 0){
              success('','删除成功',data.msg);
              window.location.reload();
            }else{
              error(data.msg);
            }
					},
          error: function(data){
             error(data.msg); 
          }
				});
			};
		};
	});   
});
</script>
</body>
</html>
