<header>
    <div class="logo f_l">
     <a href="#">
        <img src="__IMG__/logo.png">
     </a>
   </div>
   <div id="topnav" class="f_r">
       <ul>
          <a href="{:U('/index')}" class="{$index}">首页</a>
          <a href="{:U('/abouts')}" class="{$about}">关于我</a>
          <a href="{:U('/article')}" class="{$article}">技术心得</a>
          <a href="{:U('/journal')}" class="{$log}">抚今追昔</a>
          <a href="{:U('/say')}" class="{$say}">畅所欲言</a>
          <a href="{:U('/board')}" class="{$board}">留言</a>
      </ul>
   </div>
</header>

